<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240075430882-jiuv20fke96ob73mab5orlelfus17hfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240075430882-jiuv20fke96ob73mab5orlelfus17hfp</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ZvdAxjgfbOdwIpIBoJmYyXnFcSnSFgc</string>
	<key>GCM_SENDER_ID</key>
	<string>240075430882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messenti</string>
	<key>PROJECT_ID</key>
	<string>messenti</string>
	<key>STORAGE_BUCKET</key>
	<string>messenti.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240075430882:ios:b63d99df521acb23c977bb</string>
	<key>DATABASE_URL</key>
	<string>https://messenti-default-rtdb.firebaseio.com</string>
</dict>
</plist>